<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% block script %} {% endblock %}
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="sidebar col-sm-2 bg-light">
          <nav id="navbar">
            <ul>
              <header>Shorten URL</header>
              <li><a class="nav-link" href="#">Home</a></li>
              <li><a class="nav-link" href="#">Lists</a></li>
              <li><a class="nav-link" href="#">Statistics</a></li>
              <li><a class="nav-link" href="#">Glossory</a></li>
              <li><a class="nav-link" href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-content col-sm-10">
        {% block content %} 
        {% endblock %} 
        </div>
        
      </div>
    </div>


    {% block footer%} 
    {% endblock %}
  </body>
</html>
