{% extends "public/base.html" %} 
{% block content %}
<div class="text-center">
  <h1 class="fw-bold mb-2 py-1"><i class="fa-solid fa-circle-info"></i> Detail</h1>
  <h5 class="mb-0 py-0">Detailed Short URLs analysis</h5>
  <hr />
</div>
<div class="container" style="width: 80%">
  <table>
    <tr>
      <td class="text-center">
        <div>
          <h4>{{ url_info["title"]}}</h4>
        </div>
      </td>
    </tr>
    <tr>
      <td class="d-flex justify-content-between px-2 py-2">
        <div>Visits: {{ url_info["number_of_visitors"] }}</div>
        <div>(Created on {{ url_info["created_date"] | date_string }})</div>
        
        <div>
          <a href="{{ url_info['long_url'] }}" target="_blank"><button class="btn btn-outline-dark btn-sm" style="width: 100px"><i class="fa-regular fa-window-maximize mx-1"></i> Full View</button></a>
        </div>
      </td>
    </tr>
  {% if "project" in url_info["title"] | lower %}
    <tr>
      <td class="text-center">
        <iframe width="100%" height="500px" src="{{ url_info['long_url'] }}"></iframe>
      </td>
    </tr>
  {% else %}
    <tr>
      <td class="text-center">
        <img src="{{ url_for('static', filename='img/redirect.png') }}" height="400" style="border-radius: 10px" />
      </td>
    </tr>
  {% endif %}
    <tr>
      <td class="d-flex justify-content-center px-2 py-2">
        <div class="mx-2 px-2">
          <a href="{{ referrer }}"><button class="btn btn-outline-dark btn-sm" style="width: 100px"><i class="fa-solid fa-rotate-left mx-1"></i> Back</button></a>
        </div>
        <div class="mx-2 px-2">
          <a href="/redirect/{{ url_info['short_url'] }}"><button class="btn btn-outline-dark btn-sm"  style="width: 100px"><i class="fa-solid fa-arrow-rotate-right mx-1"></i> Redirect</button></a>
        </div>
      </td>
    </tr>
    <tr>
      <td><hr /></td>
    </tr>
  {% set count = url_info["number_of_visitors"] %} 
    <tr>
      <td>
        <div class="d-flex justify-content-around px-4 py-2">
          <div><blockquote><i class="fa-solid fa-quote-left"></i> {{ url_info["description"] }} <i class="fa-solid fa-quote-right"></i></blockquote></div>
          <div style="padding-left: 20px">
  {% if count > 0 %}
              {{ plots.visitor_new_return_plot.plot | safe }}
  {% endif %}
          </div>
        </div>
      </td>
    </tr>
  {% if count > 0 %}
    <tr>
      <td>
        <div class="d-flex justify-content-around">
          <div>{{ plots.country_plot.plot | safe }}</div>
          <div>{{ plots.week_count_plot.plot | safe }}</div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="d-flex justify-content-around">
        <div>{{ plots.machine_plot.plot | safe }}</div>
        <div>{{ plots.os_plot.plot | safe }}</div>
        <div>{{ plots.browser_plot.plot | safe }}</div>
      </td>
    </tr>
  {% endif %}
  </table>
</div>
{% endblock %}
