{% extends "public/base.html" %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js" integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block content %}
{{ visitors | length }}


<div class="container">
    <div>
        <h2>Statistics</h2>
    </div>
    <div>
       / <a href="/links">links</a> / short ? {{ url.url_short_url }}
    </div>
{{ plot|safe }}
</div>

{% endblock %}