{% extends "public/base.html" %} 
{% block content %}
<div class="text-center">
  <div>
    <h1 class="fw-bold mb-2 py-2"><i class="fa-solid fa-list"></i> List</h1>
    <hr />
  </div>
  {% with messages = get_flashed_messages() %} 
    {% if messages %}
  <div class="flashes text-center">
      {% for message in messages %} 
        {{ message }}<br />
      {% endfor %}
  </div>
    {% endif %} 
  {% endwith %}
</div>

  {% if urls %}
<div class="container d-flex justify-content-between">

  <span id="list-table">Showing {{ pages["start_record"] }} to {{ pages["end_record"] }} [Total: {{ pages["total_records"] }} entries]</span>

  <ul class="pagination pagination-sm">
  {% if urls.has_prev %}
    <li class="page-item"><a class="page-link" href="{{ url_for('lists_page', current_page=urls.prev_num) }}">Previous</a></li>
  {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
  {% endif %} 
  {% for page in urls.iter_pages() %} 
    {% if page %} 
      {% if urls.page == page %}
    <li class="page-item active" style="background-color:red"><a class="page-link" href="#">{{ page }}</a></li>
      {% else %}
    <li class="page-item"><a class="page-link" href="{{ url_for('lists_page', current_page=page) }}"> {{ page }}</a></li>
      {% endif %} 
    {% endif %} 
  {% endfor %} 
  {% if urls.has_next %}
    <li class="page-item"><a class="page-link" href="{{ url_for('lists_page', current_page=urls.next_num) }}">Next</a></li>
  {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
  {% endif %}
  </ul>
</div>
{% endif %}

<div>
  <table id="list-table" class="table table-striped">
    <thead class="bg-dark text-light">
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 8%">Short</th>
        <th style="width: 20%">Original</th>
        <th>Title</th>
        <th>Description</th>
        <th style="width: 10%">Created</th>
        <th style="width: 10%">Updated</th>
        <th style="width: 10%">Action</th>
      </tr>
    </thead>
    <tbody>
      <form action="/shorten" method="post">
        <tr>
          <td class="text-center"><i class="fa-regular fa-square-plus"></i></td>
          <td><input class="form-control form-control-sm" type="text" name="short_url" value="{{ short }}" readonly /></td>
          <td><input class="form-control form-control-sm" type="text" name="long_url" maxlength="100" /></td>
          <td><input class="form-control form-control-sm" type="text" name="title" maxlength="100" /></td>
          <td><input class="form-control form-control-sm" type="text" name="description" /></td>
          <td class="text-center">-</td>
          <td class="text-center">-</td>
          <td class="text-center">
            <button class="btn btn-outline-dark btn-sm" name="mode" value="add"><i class="fa-regular fa-floppy-disk"></i></button>
          </td>
        </tr>
      </form>
  {% for url in urls %}
    {% set index = pages["start_record"] + loop.index - 1 %}
      <form action="/shorten" method="post">
        <tr>
          <td class="text-center">{{ index }}</td>
          <td><input class="form-control form-control-sm" type="text" name="short_url" value="{{ url.url_short_url }}" readonly /></td>
          <td><input class="form-control form-control-sm" type="text" name="long_url" value="{{ url.url_long_url }}" maxlength="100" /></td>
          <td><input class="form-control form-control-sm" type="text" name="title" value="{{ url.url_title }}" maxlength="100" /></td>
          <td><input class="form-control form-control-sm" type="text" name="description" value="{{ url.url_description }}" /></td>
          <td class="text-center">{{ url.url_created_date | date_string }}</td>
          <td class="text-center">{{ url.url_updated_date | date_string }}</td>
          <td class="text-center">
            <input type="hidden" name="url_id" value="{{ url.url_id }}" />
            <button class="btn btn-outline-dark btn-sm" name="mode" value="edit"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="btn btn-outline-dark btn-sm" name="mode" value="delete"><i class="fa-regular fa-trash-can"></i></button>
          </td>
        </tr>
      </form>
  {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
