{% extends "public/base.html" %}
<!--
  IP Address Regexp as xxx.xxx.xxx.xxx: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$
  IP Address Regexp as x.x.x.x: ^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
  --->
{% block content %}
<div class="text-center">
  <h1 class="fw-bold mb-2 py-1"><i class="fa-solid fa-magnifying-glass"></i> Search</h1>
  <h5 class="mb-0 py-0">IP address lookup</h5>
  <hr />
  
</div>

<div>
  <table class="table table-bordered table-striped">
    <tr>
      <th>
        <form action="/search" method="post">
          <div class="d-flex justify-content-between">
            <input class="form-control form-control-sm" type="text" name="ip_address" id="ip_address" placeholder="Enter IP Address..." value="{{ ip_address }}" pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" />
            <button class="btn btn-outline-dark btn-sm" type="submit" name="query" value="search" style="width: 80px"><i class="fa-solid fa-magnifying-glass-location"></i> Find</button>
          </div>
          <div class="text-start my-1" style="font-size: 13px; font-weight: normal">
            Sample: 153.233.136.86, 175.195.217.83
          </div>
        </form>
      </th>
    </tr>
  </table>

  {% if visitors.total %}
  <div class="container d-flex justify-content-between">
    {% set start_record = (visitors.page - 1) * per_page + 1 %} 
    {% set page_list = [start_record + per_page - 1, visitors.total ] %} 
    {% set end_record = page_list | min %}
    <span id="list-table">Showing {{ start_record }} to {{ end_record }} [Total: {{ visitors.total }} entries]</span>
    <ul class="pagination pagination-sm">
      {% if visitors.has_prev %}
      <li class="page-item"><a class="page-link" href="{{ url_for('search_page', current_page=visitors.prev_num) }}">Previous</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %} {% for page in visitors.iter_pages() %} {% if page %} {% if visitors.page == page %}
      <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="{{ url_for('search_page', current_page=page) }}"> {{ page }} </a></li>
      {% endif %} {% else %}
      <li class="page-item">...</li>
      {% endif %} {% endfor %} {% if visitors.has_next %}
      <li class="page-item"><a class="page-link" href="{{ url_for('search_page', current_page=visitors.next_num) }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
  </div>
  <table id="list-table" class="table table-striped">
    <thead class="bg-dark text-light">
      <tr>
        <th>#</th>
        <th>Short</th>
        <th>Title</th>
        <th>Country</th>
        <th>OS</th>
        <th>Device</th>
        <th>Browser</th>
        <th>Machine</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for url, visitor in visitors %} 
        {% set index = start_record + loop.index - 1 %}
      <tr>
        <td class="text-center">{{ index }}</td>
        <td><a href="/redirect/{{ url.url_short_url }}">{{ url.url_short_url }}</a></td>
        <td>{{ url.url_title }}</td>
        <td class="text-center">{{ visitor.visitor_country }}</td>
        <td class="text-center">{{ visitor.visitor_os | os_filter }}</td>
        <td class="text-center">{{ visitor.visitor_device }}</td>
        <td class="text-center">{{ visitor.visitor_browser | browser_filter }}</td>
        <td class="text-center">{{ visitor.visitor_machine }}</td>
        <td class="text-center">{{ visitor.visitor_visited_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% else %}
    {% if ip_address %}
  <div class="container d-flex justify-content-between">
    No records found.
  </div>
    {% endif %}
  {% endif %} 
{% endblock %}
